@charset "utf-8";
body, h1, h2, h3, p, ul {margin:0; padding:0;}
ul li { list-style: none;}
a {text-decoration: none;}
hr {display:none;}
.hidden {position:absolute; left: -99999px;}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {font-family: 'Noto Sans KR', sans-serif;
      width: 800px; margin: 8px auto 0;}
#content h2 {font-family: 'kyoboHand', sans-serif;}
#header {display:flex; justify-content: space-between; align-items: center;
          height: 150px; background:#f46075; position:relative; }
#header h1 {width: 185px;}
#header h1 a {display:block; height: 150px; background:url(../images/logo.png) no-repeat;
              text-indent: -9999px;}
/* #gnb ul {position:absolute; bottom:45px; left:297pxl}
#gnb ul li { float:left; margin-right:20px;}
#gnb ul li a {color:#fff;}#gnb ul {} */
#gnb ul {display:flex; margin-right:107px;}
#gnb ul li {margin-left:30px;}
#gnb ul li a {color:#fff;}
main {width: 564px; float:left;}
#puppyPhoto {width: 202px; height: 484px; float:right; margin-top:82px; background:#ffc;
  border: 1px solid #006400; box-sizing: border-box; padding: 10px 0; text-align: center;}
#footer {clear:both;}
#content h2 {padding-left:6px; line-height: 82px;}
#content article {width: 272px; height: 242px;
                  float:left; border: 1px solid #ccc; box-sizing: border-box;
                  margin: 0 0 10px 10px; padding: 25px 12px 20px;}
#content article a { color:#333;}
#content article a h3 { margin-bottom: 5px;font-size: 16px;}
#content article a p { line-height: 18px; font-size: 14px;}
#footer {clear:both; padding:20px 0; background:#333; text-align:center;}
#footer small {font-weight: 300;color:white;}
#content .dogHouse:hover {border-color:#a9ff86; background:#ee8e34;}
#content .dogFood:hover {border-color:#21008e; background:#140f45;}
#content .dogFood a:hover {color:#fff;}
#content .dogWarter:hover {border-color:#00877f; background:#a3ffb2;}
#content .dogName:hover {border-color:#f29810; background:#ffdef6;}
